.category-section {
  padding: 50px 80px;
  background-color: #f4f4f4;
}

.category-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.category-card {
  background-color: white;
  padding : 80px 10px 10px 10px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.category-card:hover {
  transform: translateY(-10px);
}

.category-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.category-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
